@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayoutDash.cshtml";
}

@{



    var email = Context.Session.GetString("Email");
    var userid = Context.Session.GetString("UserID");
    var name = Context.Session.GetString("Name");
    var pic = Context.Session.GetString("UserPicture");
    var usertype = Context.Session.GetString("UserType");
    //var userpro = Context.Session.GetString("UserPro");


}

<div class="text-center">
    <div style="display: flex; justify-content: center;">
        <img src="/myLib/Layout/assets/images/favicon.ico" style="width: 30%; height: auto;">
    </div>

    <h1 class="display-4">Welcome</h1>
    <p>PSN Bank | Your digital banking solution.</p>
</div>
@if(usertype == "3")
{
    <a href="/faq">Click here</a> <p>for frequently asked questtions.</p>
}
